.carttempout{
	height:200px;
	width:100%;
	background-color:;
	text-align:center;
	padding-top:20px;
	margin-top:10px;
}
.shopname{
	width:90%;
	height:20%;
	background-color:#eee;
	margin-left:5%;
}
.date{
	width:90%;
	margin-left:5%;
	background-color:#eee;
	height:15%;
}
.contactcart{
	width:100%;
	height:15%;
	background-color:;
}
.address{
	width:100%;
	height:50%;
	background-color:#bc8f8f;
	color:black;
	font-size:15px;
}
.del{
	height:30px;
	line-height:30px;
	width:60%;
	margin-left:20%;
	background-color:#00b8eb;
	text-align:center;
	cursor:pointer;
	opacity:0.8;
}
.del:hover{
	opacity:1;
}
